[submodule "Source/External/asihttprequest"]
	path = Source/External/asihttprequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "Source/External/json-framework"]
	path = Source/External/json-framework
	url = git://github.com/stig/json-framework
[submodule "Source/External/MBProgressHUD"]
	path = Source/External/MBProgressHUD
	url = git://github.com/sync/MBProgressHUD.git
[submodule "Source/External/NSDate-Extensions"]
	path = Source/External/NSDate-Extensions
	url = git://github.com/sync/NSDate-Extensions.git
[submodule "Source/External/EGOImageLoading"]
	path = Source/External/EGOImageLoading
	url = git://github.com/enormego/EGOImageLoading.git
[submodule "Source/External/PlainOAuth"]
	path = Source/External/PlainOAuth
	url = git://github.com/jaanus/PlainOAuth.git
[submodule "Source/External/facebook-ios-sdk"]
	path = Source/External/facebook-ios-sdk
	url = git://github.com/sync/facebook-ios-sdk.git
[submodule "Source/External/MTStatusBarOverlay"]
	path = Source/External/MTStatusBarOverlay
	url = git://github.com/myell0w/MTStatusBarOverlay.git
[submodule "Source/External/objectivesupport"]
	path = Source/External/objectivesupport
	url = git://github.com/sync/objectivesupport.git
[submodule "Source/External/EGOTableViewPullRefresh"]
	path = Source/External/EGOTableViewPullRefresh
	url = git://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "Source/External/UIColor-i7HexColor"]
	path = Source/External/UIColor-i7HexColor
	url = https://github.com/jonasschnelli/UIColor-i7HexColor.git
[submodule "Source/External/modelobject"]
	path = Source/External/modelobject
	url = git://github.com/nfarina/modelobject.git
[submodule "Source/External/OHAttributedLabel"]
	path = Source/External/OHAttributedLabel
	url = git://github.com/AliSoftware/OHAttributedLabel.git
[submodule "Source/External/MapKit-Route-Directions"]
	path = Source/External/MapKit-Route-Directions
	url = git://github.com/sync/MapKit-Route-Directions
